################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/XUnit_Expencemanagment_Authentication.test/bin/Debug/net8.0
/ExpenceManagment_AuthenticationSerivices/Logs/Serilog-20250719.txt
